.recipes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  }
  
  .favoritecard--container {
    width: 200px;
    background-color: #f9d6e0;
    margin: 10px;
    border-radius: 5px;
    padding-bottom: 10px;
  }
  
  .favoritecard--image {
    width: 100%;
  }
  
  .favoritecard--body {
    padding: 10px;
    text-align: center;
  }
  
  .category {
    color: #a1a1a1;
  }
  
  a {
    background-color: #ffba5a;
    color: inherit;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
  }
  
  